.operButtons {
    margin-top: 20px;
}

.operations button {
  width:100px;
}

#stateButtones button.selected {
  color: #fff;
 background-color: #d9534f;
 border-color: #d43f3a;
}

.btn-default:focus,
.btn-default.focus,
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline: none;
  outline-offset: -2px;
}

.canvasContainer{
  position: relative;
}

.canvasContainer>canvas{
  /*height: 500px;
  width: 800px;*/
  border: 1px solid black;
  margin-left: -40px;
  position:absolute;
  left: 0;
  top: 0;
}

.operations>div{
  margin:10px;
  max-width: 250px;
}

#stateButtones>div{
  margin-bottom: 10px;
  max-width: 250px;

}
